/*************************************************
 uxsmap.css
 v 1.2.0

**************************************************/

/*map*/
#map{
  height: 99vh;
}

/***************************************
 Styles
****************************************/
.no-margin{margin:0 0 0 0 !important}
.no-padding{margin:0 0 0 0 !important}

.grey-img{filter: grayscale(100%);}

.white-shadow{color: #222;font-weight: 600;text-shadow: 1px 0px 3px rgba(255, 255, 255, 1);}

.float-left{float: left;}
.float-right{float: right;}

/***************************************
 template
****************************************/
.navbar{
  position: absolute;
    z-index: 999;
    top: 0;
    width: 100%;
}
.navbar-brand {
    padding: 8px 10px;
    margin-left: 30px;
}
.navbar-brand>img{height: 40px;}


/***************************************
  UXSMAP
****************************************/
#uxsmap-layer-menu{
  margin-top:80px !important;
  margin-left: 24px;
}

.map-logo{height: 76px;padding: 8px;}
.map-title{margin-top: 8px;}
.map-title>h1, .map-title>h2, .map-title>h3, .map-title>h4,.map-title>h5{margin-top: 0px;margin-bottom: 0px;font-weight: 600;line-height: normal;}
.map-title span{font-size: 0.9em; font-weight: 600;}
.map-info-btn{padding: 4px 12px;}

.header-transparency{background: rgba(255,255,255,0.6) !important;}

/***************************************
  Layer Control
****************************************/
/*enabled layer*/
.fab-menu-inner div[data-fab-label]:after {
    background-color: #fff;
    color:#222;
}

/*disable layer*/
.fab-menu-inner div[data-fab-label].fab-label-light:after {
    background-color: #ccc;
    color: #777;
    margin-top: -16px;
}

.fab-icon-open, .fab-icon-close{
  height: 42px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
}

.uxmap_c_layer{
	padding: 5px !important;
}

#uxmap_c_exit_street_view_container{
  position: absolute;
  left: 10px;
  margin-left: 50px;
  top: 2px;
}


/***************************************
  MODAL
****************************************/
.modal{
    z-index: 9999;
}

.modal-close{
  position: absolute;
    right: 15px;
    top: 15px;
    margin-top: 0;
    z-index: 999;
}

.disclaimer-img{

}
.disclaimer-img img{

}


/***************************************
  FILTER DIALOG
****************************************/
#filter_dialog {
  width: 340px;
  background-color: #EFF0F0;
}

#filter_dialog .title-template-image{
  height: 40px;
}

#filter_dialog .title-template-title{

}


/***************************************
 date slider
****************************************/
.noUi-connect {background: #70000B;}


/***************************************
  share buttons
****************************************/
.share_container{
  margin-left: auto;
  margin-right: auto;
  width: 310px;
}

/***************************************
  info dialog
****************************************/
.modal-info-small-logo{
  height: 25px;
}

/***************************************
  COLLAPSIBLE FOOTER DIALOG
****************************************/
#collapsible_footer_dialog {
    position: absolute;
    bottom: 10px;
    z-index: 9998;
    width: auto;
    max-width: 460px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255,0.90);
    padding: 5px;
    margin: 5px;
    margin-left: 20px;
    -webkit-box-shadow: 0px 0px 23px -6px #333;
    -moz-box-shadow: 0px 0px 23px -6px #333;
    box-shadow: 0px 0px 23px -6px #333;
}
#collapsible_footer_dialog .panel-heading{
  padding: 5px;
  text-align: center;
  background-color: rgba(255, 255, 255,0.90);
}
#collapsible_footer_dialog .panel-body{
  padding: 5px;
  background-color: rgba(255, 255, 255,0.90);
}

#collapsible_footer_dialog .title-template-image{
  height: 40px;
}

#collapsible_footer_dialog .title-template-title{

}

#collapsible_footer_dialog_filter_container{
  max-height: 360px;
  overflow-y: auto !important;
}



/*******************************
  MAP SIDEBAR
********************************/
.map-sidebar {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: -50%;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.8s;
}

.map-sidebar .panel-heading{
  position: sticky;
  top: 0;
  left: 25px;
  margin-top: 0px;
  margin-right: 20px;
  z-index: 9999;
}

.map-sidebar .panel-body{
  margin-top: 10px;
}

.map-sidebar .filterbtn {
  position: absolute;
  top: 0;
  right: 40px;
  margin-top: 12px;
  margin-left: 50px;
  z-index: 999;
}

.map-sidebar .filtercount{
  position: absolute;
  top: 40px;
  right: 80px;
  margin-top: 12px;
  margin-left: 50px;
  z-index: 999;
  text-align: left;
}

.map-sidebar .closebtn {
  position: absolute;
  top: 0;
  right: -5px;
  margin-top: 10px;
  margin-left: 50px;
  z-index: 999;
}


/***************************************
  USER MODE DETECTION
****************************************/
#users-device-size{
  z-index: 9999;
  height: 1px;
  width: 1px;
}



/***************************************
 SIZES
****************************************/
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .map-sidebar .title{
    margin-top: 60px !important;
  }
  #collapsible_footer_dialog {margin-left: 5px;}

  /*collapsible heading icon don´t show*/
  #collapsible_footer_dialog .heading-elements-toggle{display: none}

  #collapsible_footer_dialog_filter_container{
    max-height: 400px;
  }

  #uxmap_c_exit_street_view_container{
    
  }

  /*avoid tabbable 'Content' legend */
  .nav-tabs:before {
      content: '';
      margin-top: 0px;
      margin-left: 0px;
      margin-bottom: 0px;
  }

  .map-sidebar {
    width: 100%;
    left:-100%;
  }

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
  #collapsible_footer_dialog {margin-left: 5px;}

  /*collapsible heading icon don´t show*/
  #collapsible_footer_dialog .heading-elements-toggle{display: none}

  #collapsible_footer_dialog_filter_container{
    max-height: 400px;
  }

  /*avoid tabbable 'Content' legend */
  .nav-tabs:before {
      content: '';
      margin-top: 0px;
      margin-left: 0px;
      margin-bottom: 0px;
  }

}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {

}

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {

}
